.imagen-desplegable {
    cursor: pointer;
}

.informacion-desplegable {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.informacion-desplegable.mostrar {
    display: block;
}