body{
    background-color: lightblue;
}
h1{
    text-align: center;
    align-content: center;
}
table, td, th{
   border:1px solid black;
   text-align: center;
}
p{
    text-align: center;
}
.Glow{
    align-content: center;
    text-align: center;
    transition: transform .2s;
    /*background-image: url("/Imagen/descarga.jpg");*/
    border: 1px solid;
    border-radius: 100px;
    text-decoration: white;
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
}
.Glow:hover{
    transform: scale(3);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
.container { 
    height: 200px;
    position: relative;
    border: 3px none; 
  }
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .ErNota{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: transform .2s;
    opacity: 0;
  }
  .ErNota:hover{
    transform: scale(3);
    opacity: 1;
  }